FQDNLookup false
Interval 5

LoadPlugin uuid
<Plugin uuid>
    UUIDFile "/opt/mistio-collectd/uuid"
</Plugin>

LoadPlugin syslog
<Plugin syslog>
    LogLevel info
</Plugin>

LoadPlugin cpu
LoadPlugin df
LoadPlugin md
LoadPlugin thermal
LoadPlugin disk
LoadPlugin entropy
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin processes
LoadPlugin swap
LoadPlugin users

LoadPlugin ping
<Plugin ping>
     Host "8.8.8.8"
</Plugin>

LoadPlugin network
<Plugin network>
    TimeToLive 128
    <Server "{{ monitor }}" "{{ port }}">
        SecurityLevel Encrypt
        Username "{{ uuid }}"
        Password "{{ password }}"
    </Server>
    MaxPacketSize 1024
    Forward true
    ReportStats false
</Plugin>

# get disk metrics for these disks only (regexp)
<Plugin "disk">
  Disk "/sda[1]/"
  Disk "/xvda[1]/"
  Disk "/hda[1]/"
  IgnoreSelected false
</Plugin>

# get interface metrics for these interfaces only
<Plugin "interface">
  Interface "eth0"
  Interface "eth1"
  Interface "vnet0"
  Interface "virbr0"
  Interface "docker0"
  IgnoreSelected false
</Plugin>

Include "/opt/mistio-collectd/plugins/mist-python/include.conf"
Include "/opt/mistio-collectd/collectd.custom.conf"
